<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Resume</title>
</head>
<body body style="background: repeating-linear-gradient(
  45deg,
  rgba(96,109,188,0.47),
  rgba(96,109,188,0.46) 10px,
  rgba(70,82,152,0.45) 10px,
  rgba(70,82,152,0.45) 20px
);">
<h1>Display Resume Data</h1>

<form action = "/display" method = "POST" enctype=multipart/form-data>
    <label for="name"> Name:</label><br>
    <input type = "text" id = "name" name = "name" value = "{{ name }}" /><br>

    <label for="email"> Email:</label><br>
    <input type = "text"  name = "email" value = {{ usr['email'] }} /><br>

    <label for="address"> Address:</label><br>
    <input type = "text" name = "address" value = "{{ address }}" /><br>

    <label for="Phone Number"> Phone Number:</label><br>
    <input type = "text" name = "Phone Number" value = "{{ phonenum }}" /><br>

    <label for="info"> Info:</label><br>
    <input style="height: auto;" type = "text" name = "info" value = "{{ info }}" />


    <input id = "submit" type = "submit"/>


</form>


</body>
</html>